@{
    ViewData["Title"] = "Acerca sobre la bolsa de valores";
}
<h1 style="text-align: center;">@ViewData["Title"]</h1>

<article>
    <p>La bolsa de valores es el lugar que pone en contacto demandantes y oferentes de capital, 
    es decir, empresas y administraciones que buscan financiación, por una parte, y ahorradores 
    (particulares u organizaciones) que quieren invertir su excedente de dinero en busca de una rentabilidad, por otra.</p>
</article>
