@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Invierte en la Bolsa de Valores</h1>
    <p>Aquí <a asp-controller="Operacion" asp-action="Index">Opere en bolsa</a> y invierta su dinero en dólares</a>.</p>
</div>
